
<svg id="tml3" height="100%" width="100%" viewBox="0 0 400 400" style="background-color:{{color1}};">
				
	<circle cx="50%" stroke="{{color3}}" cy="50%" r="140" stroke-width="20" fill="{{color2}}"/>
	<text x="{{text_x}}%" y="{{text_y}}%" style="fill:{{text_color}}; font-size:{{text_size}}px; font-weight: bold; stroke:{{text_stroke_color}}; stroke-width:{{text_stroke_size}}px; ">{{text}}</text>	
				
</svg>
<style>
	#tml3{
		max-width: 37.5em;
		max-height: 37.5em;
	}
</style>				

