<svg id="tml4" xmlns="http://www.w3.org/2000/svg" height="100%" width="100%" viewBox="0 0 300 300">
		<g transform="translate(0 -752.36)">
			<path fill="{{colore_stella}}" fill-rule="evenodd" transform="matrix(1.611 .90105 -1.0501 1.4817 841.27 -502.56)" stroke="{{colore_bordo_stella}}" stroke-width="1px" d="m207.65 884.29-49.969 10.643-19.56 47.197-25.564-44.234-50.932-4.0184 34.17-37.982-11.917-49.68 46.682 20.76 43.566-26.686-5.3188 50.812z"/>
	 </g>
	 <text id=text x="30" y="120" style="fill:{{colore_text1}}; font-size:30px; ">{{text1}}
	 	<tspan x="50" y="150" style="fill:{{colore_text2}}; font-size:30px; ">{{text2}}</tspan>
	 	<tspan x="70" y="180" style="fill:{{colore_text3}}; font-size:30px; ">{{text3}}</tspan>
	 </text>
</svg>


<style>
	#tml4{
		position: relative;
		width: 100%;
	}

</style>